<!doctype html>
<html lang="en">
{{> include/header }}
<body>
	<h1>회원 가입</h1>

{{> include/navigation }}

{{#user}}
	<form action="/users/{{id}}" method="post">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>USER ID</label> 
				<input type="text" 
					class="form-control" name="userId" value="{{userId}}"placeholder="Enter ID">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Password</label> <input type="password"
					class="form-control" name="password" value="{{password}}" placeholder="Password">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="name">Name</label> <input type="text" value="{{name}}"
					class="form-control" name="name">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputCity">Email</label> <input type="email"
					class="form-control" name="email" value="{{email}}">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">개인정보 수정</button>
	</form>
{{/user}}
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="../webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>